
@font-face {
  font-family: 'Pokemon_Solid';
  src: url(/Pokemon_Solid.ttf);
}

.App {
    text-align: center;
  }
  
  .PokemonList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
  }
  
  .PokemonItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    width: 24vw;
    text-align: center;
    cursor: pointer;
    box-shadow: 14px 16px 28px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 14px 16px 28px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 16px 28px -9px rgba(0,0,0,0.75);
  }
  
  .PokemonName {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .PokemonImage {
    max-width: 100%;
  }
  
  .PokemonTypes {
    margin-top: 10px;
  }
  
  .Quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    width: 23vw;
    margin: auto;
    text-align: center;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
  }

  .inQuantity {
    width: 90%;
    padding: 1rem;
    font-size: x-large;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgb(56, 56, 56);
  }

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rest {
  margin-top: 2rem;
}

.tituloinput{
  color: #003dc2;
  font-size: 23px;
  letter-spacing:2px;
  margin: 20px;
}
.titulo{
  font-family: 'Pokemon_Solid';
  letter-spacing:8px;
  -webkit-text-stroke-width: 3.5px;
-webkit-text-stroke-color: #003dc2;
font-size: 3.5em; color: #fff350;
}

.login{
  width: 40vw;
  height: 100vh;
  background-color: rgba(249, 255, 74, 0.77);
  border-radius: 20px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 2rem;

}

.btn {
  margin-bottom: 10rem;
}

.inform{
  width: 22vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  padding: 2rem;
  font-size: large;
}
.btn1{
  width: 15vw;
  height: 7.5vh;
  border-radius: 5px;
  background-color: #003dc2;
  border: none;
  margin-top: 45px;
  color: white;
  font-size: 18px;
  letter-spacing:2px;
}
.btn1:hover{
  width: 15vw;
  height: 7.5vh;
  border-radius: 5px;
  background-color: #003dc2;
  color: #fff350;
  border: none;
  margin-top: 45px;
  font-size: 18px;
  letter-spacing:2px;
  cursor: pointer;
}

.registerbtn {
  width: 15vw;
  height: 7.5vh;
  border-radius: 5px;
  background-color: #003dc2;
  border: none;
  color: white;
  font-size: 18px;
  letter-spacing:2px;
}

.registerbtn:hover {
  width: 15vw;
  height: 7.5vh;
  border-radius: 5px;
  background-color: #003dc2;
  color: #fff350;
  border: none;
  font-size: 18px;
  letter-spacing:2px;
  cursor: pointer;
}
